@import url('https://fonts.googleapis.com/css2?family=Sarala&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}


body{
    background: #222121;
    color: white;
    font-size: 100%;
}


.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.cabecalho-imagem{
    height: 170px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;    
}

.cabecalho-menu-item{
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}

.conteudo{
    border-top: 0.4px solid #FFF2E7;
    margin-top: -15px;
}